* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: ghostwhite;
  display: flex;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu ul{
  list-style-type: none;
}

.menu ul li a{
  text-decoration: none;
}
.work-menu{
  margin-top: 20px;
  text-align: center;
  font-family: serif;
}

.mail-link{
  text-align: center;
  margin-bottom: 20px;
}

h1{
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

.mail-link a{
  padding: 20px;
  border: 4px double rgba(42, 43, 42, 0.192);
  transition: 0.2s;
  font-family: serif;
}

.mail-link a:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

.about p{
  border-bottom: 3px double rgba(42, 43, 42, 0.192);
}

.form {
  border: 2px solid skyblue;
  padding: 20px;
  border-radius: 10px;
}

.icon{
  width: 40%;
}

footer{
  background-color: dimgrey;
  text-align: center;
  margin-top: auto;
  padding: 10px 0px 0px 10px;
}

/*--------------------- 画面サイズが大きいとき ---------------------------*/
@media screen and (min-width: 601px){
  .title-logo{
    width: 100%;
    text-align: left;
    font-family: serif;
    font-weight: bold;
    font-size: 50px;
  }

  .menu ul{
    display: flex;
    width: auto;
  }
  
  .menu ul li{
    font-size: 20px;
    padding-right: 15px;
  }

  .menu ul li a{
    color: coral;
  }

  .menu ul li a:hover{
    border-bottom: 3px dotted skyblue;
  }

  .about-image{
    width: 100%;
    height: 600px;
    opacity: 0.7;
    position: relative;
    animation-name: fade;
    animation-duration: 1s;
  }

  .work-menu{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 100px;
  }

  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 0.7;
    }
  }

  .profile{
    position: absolute;
    top: 50%;
    left: 10%;
  }

  .profile h1{
    font-size: 100px;
  }

  .myabout{
    display: flex;
    margin-top: 5px;
  }

  .about{
    margin: 0px 5% 10% 5%;
    padding: 10px;
    width: 40%;
    border: 2px solid skyblue;
    border-radius: 10px;
  }

  .about h1{
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid black;
  }

  .about p{
    font-size: large;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 3px double rgba(42, 43, 42, 0.192);
  }

  .work{
    display: flex;
  }

  .work h1{
    margin-top: 5%;
  }

  .work .about{
    margin-top: 20px;
  }

  .work .about a{
    text-decoration: none;
  }

  .work .about p{
    list-style: none;
    text-align: center;
    font-family: serif;
    margin-top: 10px;
    padding: 0;
    border: 3px double rgba(42, 43, 42, 0.192);
    transition: 0.2s;
  }

  .work .about p:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
  }
}

/*-------------------------------- 画面サイズが小さいとき--------------------------*/
@media screen and (max-width: 600px){
  .title-logo{
    width: 40%;
    text-align: left;
    font-family: serif;
    font-weight: bold;
  }

  .ham{
    cursor: pointer;
    position: relative;
    width: 50%;
    height: 40px;
    text-align: right;
  }

  .line{
    position: absolute;
    width: 10%;
    height: 3px;
    background-color: #000;
    transition: ease 0.5s;
  }

  .top{
    top: 10px;
  }

  .middle{
    top: 17px;
  }

  .bottom{
    top: 24px;
  }

  .close .top{
    transform: rotate(45deg);
    top: 20px;
  }

  .close .middle{
    opacity: 0;
  }

  .close .bottom{
    transform: rotate(-45deg);
    top: 20px;
  }

  .menu{
    position: fixed;
    top: 55px;
    width: 100%;
    height: 100%;
    right: -600px;
    background-color: palegoldenrod;
    transition: ease 0.5s;
  }

  .close .menu{
    right: 0px;
  }

  ul li{
    text-align: center;
    padding-top: 10%;
  }

  ul li a{
    font-size: 2em;
    font-family: 'Kaiti SC',sans-serif;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
  }

  .about-image{
    width: 100%;
    height: 250px;
    opacity: 0.6;
    position: relative;
    animation-name: fade;
    animation-duration: 1s;
  }

  .delete{
    display: none;
  }

  .profile{
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .profile h1{
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 0.6;
    }
  }

/*---------自己紹介----*/
  .about{
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 25px 5px 25px;
    border: 2px solid skyblue;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .about h1{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom: 1px solid black;
  }

  .about p{
    padding-top: 5px;
    font-weight: 400;
    border-bottom: 3px double rgba(42, 43, 42, 0.192);
  }

  /*-------WORKページ------*/
  .work h1{
    margin-top: 5%;
    font-size: 25px;
  }

  .work .about{
    margin-top: 20px;
    font-family: sans-serif;
  }

  .work .about a{
    text-decoration: none;
  }

  .work .about p{
    list-style: none;
    margin-top: 10px;
    font-family: serif;
    padding: 0;
    border: 3px double rgba(42, 43, 42, 0.192);
    transition: 0.2s;
  }

  .work .about p:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
  }
}