@media screen and (min-width: 601px){
  
}

@media screen and (max-width: 600px){

  .fade-in{
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: opacity, transform;
  }

  .fade-in-top{
    transform: translateY(-100px);
  }

  .fade-in-left{
    transform: translateX(-100px);
  }

  .fade-in-right{
    transform: translateX(100px);
  }

  .fade-in-bottom{
    transform: translateY(50px);
  }

  .scroll-in{
    opacity: 1;
    transform: translate(0, 0);
  }
}